*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.news__link, .nav__link, .logo, .mobile-menu__link {
  text-decoration: none;
  color: currentColor;
}

.news__list, .nav__list, .logo, .dropdown-tablet__content-list, .filter-tablet__list, .dropdown__content-list, .mobile-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 480px;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #111321;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.mobile-menu__container {
  display: block;
}
@media screen and (max-width: 767px) {
  .mobile-menu__container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 16px;
    background-color: #ffffff;
  }
}
.mobile-menu__header-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 68px;
}
.mobile-menu__close-btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  margin-left: auto;
  background-color: transparent;
  border-color: transparent;
}
.mobile-menu__close-icon {
  width: 24px;
  height: 24px;
  stroke: #111321;
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.mobile-menu__item {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  gap: 14px;
}
.mobile-menu__btn-page-icon {
  width: 34px;
  height: 34px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: none;
}
.mobile-menu__page-icon {
  width: 32px;
  height: 32px;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
}
.mobile-menu__page-arrow-icon {
  margin-left: auto;
  width: 24px;
  height: 24px;
}
.mobile-menu__wrapper {
  margin-top: 248px;
}
.mobile-menu__theme-light-btn {
  width: 21px;
  height: 21px;
  margin-right: 8px;
  background-color: transparent;
  border-color: transparent;
}
.mobile-menu__theme-sun-icon {
  width: 21px;
  height: 21px;
  stroke: #5F6775;
}
.mobile-menu__toggle-icon {
  width: 40px;
  height: 20px;
}
.mobile-menu__theme-dark-btn {
  width: 21px;
  height: 21px;
  margin-left: 8px;
  background-color: transparent;
  border-color: transparent;
}
.mobile-menu__theme-moon-icon {
  width: 21px;
  height: 21px;
  stroke: #5F6775;
}

.current-mobile {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  background-color: #4440F6;
  color: #ffffff;
}

.invisible {
  display: none;
}

.filter__section {
  padding-top: 24px;
  padding-bottom: 40px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3333333333;
}
@media screen and (min-width: 768px) {
  .filter__section {
    padding-bottom: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .filter__section {
    padding-bottom: 60px;
  }
}
.filter__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown__wrapper {
  position: relative;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .dropdown__wrapper {
    display: none;
  }
}
.dropdown__wrapper:hover .dropdown__content-wrapper, .dropdown__wrapper:focus .dropdown__content-wrapper {
  display: block;
}
.dropdown__wrapper:hover .dropdown__content-admin-btn, .dropdown__wrapper:focus .dropdown__content-admin-btn {
  color: #ffffff;
  background-color: #4440F6;
}
.dropdown__wrapper:hover .dropdown__content-admin-btn-icon-down, .dropdown__wrapper:focus .dropdown__content-admin-btn-icon-down {
  display: none;
}
.dropdown__wrapper:hover .dropdown__content-admin-btn-icon-up, .dropdown__wrapper:focus .dropdown__content-admin-btn-icon-up {
  display: block;
}
.dropdown__content-admin-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 112px;
  height: 31px;
  padding-top: 7.5px;
  padding-right: 13px;
  padding-bottom: 7.5px;
  padding-left: 13px;
  color: #4440F6;
  background-color: transparent;
  border: 1px solid #4440F7;
  border-radius: 20px;
  text-align: center;
}
.dropdown__content-admin-btn-icon-down {
  width: 14px;
  height: 14px;
  fill: #4440F6;
}
.dropdown__content-admin-btn-icon-up {
  display: none;
  width: 14px;
  height: 14px;
  fill: #ffffff;
}
.dropdown__content-wrapper {
  display: none;
  position: absolute;
  z-index: 10;
  min-width: 148px;
  padding-top: 14px;
  padding-left: 14px;
  background-color: #F8F8F8;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.1));
}
.dropdown__content-item {
  margin-bottom: 12px;
}
.dropdown__content-btn {
  color: #4440F6;
  background-color: transparent;
  border: none;
}
.dropdown__content-btn:hover, .dropdown__content-btn:focus {
  text-decoration: underline;
}

.calender__wrapper {
  position: relative;
  display: inline-block;
}
.calender__input {
  width: 151px;
  height: 31px;
  padding-left: 44px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  border: 1px solid #111321;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}
.calender__input:hover, .calender__input:focus {
  color: #ffffff;
  background-color: #4440F6;
}
.calender__input:hover + .calender__icon-calendar, .calender__input:focus + .calender__icon-calendar {
  fill: #ffffff;
}
.calender__input:hover ~ .calender__icon-down, .calender__input:focus ~ .calender__icon-down {
  display: none;
}
.calender__input:hover ~ .calender__icon-up, .calender__input:focus ~ .calender__icon-up {
  display: block;
  position: absolute;
  top: 7;
  right: 13;
  width: 15px;
  height: 15px;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .calender__input:hover ~ .calender__icon-up, .calender__input:focus ~ .calender__icon-up {
    width: 16px;
    height: 16px;
  }
}
@media screen and (min-width: 768px) {
  .calender__input {
    width: 168px;
    font-size: 14px;
    line-height: 1.5;
  }
}
.calender__icon-calendar {
  position: absolute;
  left: 12;
  transform: translateY(30%);
  width: 19px;
  height: 19px;
  fill: #4440F6;
}
@media screen and (min-width: 768px) {
  .calender__icon-calendar {
    width: 20px;
    height: 20px;
  }
}
.calender__icon-down {
  position: absolute;
  right: 13;
  transform: translateY(50%);
  width: 15px;
  height: 15px;
  fill: #A8A8A8;
}
@media screen and (min-width: 768px) {
  .calender__icon-down {
    width: 16px;
    height: 16px;
  }
}
.calender__icon-up {
  display: none;
}

.filter-tablet__wrapper {
  display: flex;
  gap: 14px;
}
@media screen and (max-width: 767px) {
  .filter-tablet__wrapper {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .filter-tablet__wrapper {
    gap: 16px;
  }
}

.filter-tablet__list {
  display: flex;
  gap: 14px;
}
@media screen and (min-width: 1280px) {
  .filter-tablet__list {
    gap: 16px;
  }
}
.filter-tablet__btn {
  height: 31px;
  padding-top: 7.5px;
  padding-right: 24px;
  padding-bottom: 7.5px;
  padding-left: 24px;
  color: #4440F6;
  background-color: transparent;
  border: 1px solid #4440F7;
  border-radius: 20px;
  text-align: center;
}
.filter-tablet__btn:hover {
  color: #ffffff;
  background-color: #4440F6;
}

.dropdown-tablet__wrapper {
  position: relative;
  display: inline-block;
}
.dropdown-tablet__wrapper:hover .dropdown-tablet__content-wrapper, .dropdown-tablet__wrapper:focus .dropdown-tablet__content-wrapper {
  display: block;
}
.dropdown-tablet__wrapper:hover .dropdown-tablet__content-admin-btn, .dropdown-tablet__wrapper:focus .dropdown-tablet__content-admin-btn {
  color: #ffffff;
  background-color: #4440F6;
}
.dropdown-tablet__wrapper:hover .dropdown-tablet__content-admin-btn-icon-down, .dropdown-tablet__wrapper:focus .dropdown-tablet__content-admin-btn-icon-down {
  display: none;
}
.dropdown-tablet__wrapper:hover .dropdown-tablet__content-admin-btn-icon-up, .dropdown-tablet__wrapper:focus .dropdown-tablet__content-admin-btn-icon-up {
  display: block;
}
.dropdown-tablet__content-admin-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 112px;
  height: 31px;
  padding-top: 7.5px;
  padding-right: 24.5px;
  padding-bottom: 7.5px;
  padding-left: 24.5px;
  color: #4440F6;
  background-color: transparent;
  border: 1px solid #4440F7;
  border-radius: 20px;
  text-align: center;
}
.dropdown-tablet__content-admin-btn-icon-down {
  width: 14px;
  height: 14px;
  fill: #4440F6;
}
.dropdown-tablet__content-admin-btn-icon-up {
  display: none;
  width: 14px;
  height: 14px;
  fill: #ffffff;
}
.dropdown-tablet__content-wrapper {
  display: none;
  position: absolute;
  z-index: 200;
  min-width: 168px;
  padding-top: 14px;
  padding-left: 14px;
  background-color: #F8F8F8;
  border-radius: 20px;
  filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.1));
}
.dropdown-tablet__content-item {
  margin-bottom: 12px;
}
.dropdown-tablet__content-btn {
  color: #4440F6;
  background-color: transparent;
  border: none;
}
.dropdown-tablet__content-btn:hover, .dropdown-tablet__content-btn:focus {
  text-decoration: underline;
}

@media screen and (max-width: 1279px) {
  .filter-desktop__item {
    display: none;
  }
}
.filter-desktop__btn {
  height: 31px;
  padding-top: 7.5px;
  padding-right: 24px;
  padding-bottom: 7.5px;
  padding-left: 24px;
  color: #4440F6;
  background-color: transparent;
  border: 1px solid #4440F7;
  border-radius: 20px;
  text-align: center;
}
.filter-desktop__btn:hover {
  color: #ffffff;
  background-color: #4440F6;
}

.desktop-text {
  margin-left: 111px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3888888889;
  color: #111321;
}
@media screen and (max-width: 1279px) {
  .desktop-text {
    display: none;
  }
}

.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.375;
}
@media screem and (min-width: 768px) {
  .logo {
    font-size: 32px;
    line-height: 1.375;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    font-size: 42px;
    line-height: 1.3571428571;
  }
}

.header__section {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .header__section {
    padding-top: 32px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .header__section {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-nav-wrapper {
  display: flex;
  align-items: center;
}
.header__mobile-wrapper {
  display: flex;
  align-items: center;
}
.header__search-form {
  position: relative;
  display: flex;
  align-items: center;
}
.header__search-form-input {
  opacity: 0;
  width: 173px;
  height: 31px;
  padding-left: 48px;
  border: 1px solid #111321;
  border-radius: 20px;
  outline: none;
}
@media screen and (min-width: 768px) {
  .header__search-form-input {
    opacity: 1;
    width: 213px;
  }
}
@media screen and (min-width: 1280px) {
  .header__search-form-input {
    width: 288px;
  }
}
.header__search-form-input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: #111321;
  opacity: 0.4;
}
.header__search-form-input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: #111321;
  opacity: 0.4;
}
.header__search-form-input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: #111321;
  opacity: 0.4;
}
@media screen and (min-width: 768px) {
  .header__search-form-input::-moz-placeholder {
    font-size: 14px;
    line-height: 1.7142857143;
  }
  .header__search-form-input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 1.7142857143;
  }
  .header__search-form-input::placeholder {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
.header__search-form-btn {
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: transparent;
  border: transparent;
}
@media screen and (min-width: 768px) {
  .header__search-form-btn {
    position: absolute;
    left: 12;
    height: 19px;
  }
}
.header__search-form-icon {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .header__search-form-icon {
    height: 19px;
  }
}
.header__burger-menu-btn {
  width: 24px;
  height: 24px;
  margin-left: 14px;
  text-align: center;
  background-color: transparent;
  border: transparent;
}
@media screen and (min-width: 768px) {
  .header__burger-menu-btn {
    display: none;
  }
}
.header__burger-menu-icon {
  width: 24px;
  height: 24px;
  stroke: black;
}
.header__tablet-desktop-toggle-wrapper {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__tablet-desktop-toggle-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .header__tablet-desktop-toggle-wrapper {
    gap: 12px;
  }
}
.header__theme-light-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__theme-light-btn {
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
  }
}
@media screen and (min-width: 1280px) {
  .header__theme-light-btn {
    width: 43px;
    height: 24px;
  }
}
@media screen and (max-width: 1279px) {
  .header__theme-sun-icon {
    width: 21px;
    height: 21px;
    stroke: #5F6775;
  }
}
.header__toggle-icon {
  width: 40px;
  height: 20px;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__toggle-icon {
    display: block;
  }
}
.header__theme-text {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__theme-text {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3333333333;
  }
}
.header__theme-dark-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__theme-dark-btn {
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
  }
}
@media screen and (min-width: 1280px) {
  .header__theme-dark-btn {
    width: 43px;
    height: 24px;
  }
}
@media screen and (max-width: 1279px) {
  .header__theme-moon-icon {
    width: 21px;
    height: 21px;
    stroke: #5F6775;
  }
}

.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    align-items: center;
    gap: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .nav__list {
    gap: 69px;
  }
}
.nav__link {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;
}
@media screen and (min-width: 1280px) {
  .nav__link {
    font-size: 18px;
    line-height: 1.3888888889;
  }
}
.nav .current::after {
  content: "";
  width: 100%;
  position: absolute;
  transform: translateX(-100%);
  top: 30;
  border: 1px solid #4440F7;
}

.visible {
  opacity: 1;
}

.btn-transform {
  position: absolute;
  left: 12;
}

@media screen and (min-width: 768px) {
  .news__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .news__list {
    gap: 32px;
  }
}
.news__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  max-width: 288px;
}
@media screen and (min-width: 768px) {
  .news__item {
    max-width: 353px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .news__item {
    max-width: 394px;
  }
}
.news__img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .news__img {
    max-width: 353px;
  }
}
@media screen and (min-width: 1280px) {
  .news__img {
    max-width: 395px;
  }
}
.news__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  letter-spacing: -0.01em;
}
@media screen and (min-width: 768px) {
  .news__title {
    font-size: 32px;
    line-height: 1.375;
  }
}
.news__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3571428571;
}
@media screen and (min-width: 768px) {
  .news__subtitle {
    font-size: 16px;
    line-height: 1.375;
  }
}
.news__date-link-wrapper {
  display: flex;
  justify-content: space-between;
}
.news__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3571428571;
  color: #A8A8A8;
}
@media screen and (min-width: 768px) {
  .news__date {
    font-size: 16px;
    line-height: 1.375;
  }
}
.news__link {
  color: #4440F6;
}
.news__btn {
  position: absolute;
  right: 8;
  transform: translateY(895%);
  display: flex;
  align-items: center;
  gap: 4px;
  width: 126px;
  height: 28px;
  padding: 6px 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333333333;
  text-align: center;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .news__btn {
    right: 12;
    transform: translateY(1115%);
  }
}
@media screen and (min-width: 1280px) {
  .news__btn {
    right: 12;
    transform: translateY(1260%);
  }
}
.news__btn-icon {
  width: 16px;
  height: 16px;
}
.news__category {
  position: absolute;
  top: 40;
  left: 0;
  display: inline-block;
  width: 112px;
  height: 24px;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333333333;
  text-align: center;
  color: #ffffff;
  background-color: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;
}
.news__already-read {
  position: absolute;
  top: 14;
  right: 14;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3571428571;
  color: #00DD73;
}
@media screen and (min-width: 768px) {
  .news__already-read {
    top: 20;
    right: 21;
  }
}
.news__already-read-icon {
  width: 18px;
  height: 18px;
}
.news__item-weather-tablet {
  width: 353px;
  height: 633px;
  background-color: #4440F6;
}
@media screen and (max-width: 767px) {
  .news__item-weather-tablet {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .news__item-weather-tablet {
    display: none;
  }
}
.news__item-weather-desktop {
  width: 394px;
  height: 674px;
  background-color: #4440F6;
}
@media screen and (max-width: 1279px) {
  .news__item-weather-desktop {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .news__item-weather-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .weather__container {
    display: none;
  }
}
.weather__container-new {
  width: 288px;
  height: 469px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
  background-color: #4440F6;
}
@media screen and (min-width: 768px) {
  .weather__container-new {
    width: 353px;
    height: 633px;
  }
}
@media screen and (min-width: 1280px) {
  .weather__container-new {
    width: 394px;
    height: 675px;
  }
}/*# sourceMappingURL=main.css.map */