// @import '~node_modules/modern-normalize/modern-normalize.css';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;

    color: $light-theme-primary-font-color;

    overflow-y: scroll;
    scroll-behavior: smooth;
}