// @import '~node_modules/modern-normalize/modern-normalize.css';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;

    // color: $light-theme-primary-font-color;

    overflow-y: scroll;
    scroll-behavior: smooth;
}

.theme-light {
    color: $light-theme-primary-font-color;
    background-color: $light-theme-bgd-color;
}

.theme-dark {
    color: $white-color;
    background-color: $dark-theme-bgd-color;
}

input.theme-dark {
    border-color: $white-color;
}

input.theme-dark::placeholder {
    color: $white-color;
}

form.theme-dark {
    fill: $white-color;
}

.header__section.theme-dark{
    border-bottom-color: rgba(244, 244, 244, 0.2);
}

.header__burger-menu-icon.theme-dark {
    stroke: $white-color;
}