$accent-color: #4440F6;
$white-color: #ffffff;

$secondary-font-color: #A8A8A8;
$label-category-color: rgba(68, 64, 246, 0.7);
$already-read-color: #00DD73;
$dropdown-bgd-color: #F8F8F8;

$light-theme-primary-font-color: #111321;
$light-theme-bgd-color: #F4F4F4;
$light-theme-toggle-font-color: #5F6775;

$dark-theme-primary-font-color: #F4F4F4;
$dark-theme-bgd-color: #2E2E2E;
$dark-theme-toggle-font-color: #F4F4F4;