<section class="filter__section">
  <div class="container filter__container">
    <div class="dropdown__wrapper">
      <button type="button" class="dropdown__content-admin-btn">
        Categories
        <svg class="dropdown__content-admin-btn-icon-down">
          <use href="/src/images/symbol-defs.svg#icon-arrow-down"></use>
        </svg>
        <svg class="dropdown__content-admin-btn-icon-up">
          <use href="/src/images/symbol-defs.svg#icon-arrow-up"></use>
        </svg>
      </button>
      <div class="dropdown__content-wrapper">
        <ul class="dropdown__content-list">
          <li class="dropdown__content-item">
            <button type="button" class="dropdown__content-btn">Admin</button>
          </li>
          <li class="dropdown__content-item">
            <button type="button" class="dropdown__content-btn">Arts</button>
          </li>
          <li class="dropdown__content-item">
            <button type="button" class="dropdown__content-btn">
              Automobiles
            </button>
          </li>
          <li class="dropdown__content-item">
            <button type="button" class="dropdown__content-btn">Books</button>
          </li>
          <li class="dropdown__content-item">
            <button type="button" class="dropdown__content-btn">
              Briefing
            </button>
          </li>
          <li class="dropdown__content-item">
            <button type="button" class="dropdown__content-btn">
              Business
            </button>
          </li>
          <li class="dropdown__content-item">
            <button type="button" class="dropdown__content-btn">Climate</button>
          </li>
          <li class="dropdown__content-item">
            <button type="button" class="dropdown__content-btn">
              Corrections
            </button>
          </li>
          <li class="dropdown__content-item">
            <button type="button" class="dropdown__content-btn">
              Crosswords & Games
            </button>
          </li>
          <li class="dropdown__content-item">
            <button type="button" class="dropdown__content-btn">
              Education
            </button>
          </li>
          <li class="dropdown__content-item">
            <button type="button" class="dropdown__content-btn">
              En Español
            </button>
          </li>
          <li class="dropdown__content-item">
            <button type="button" class="dropdown__content-btn">Fashion</button>
          </li>
          <li class="dropdown__content-item">
            <button type="button" class="dropdown__content-btn">Food</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="calender__wrapper">
      <input type="text" placeholder="Select date" class="calender__input" />
      <svg class="calender__icon-calendar">
        <use href="/src/images/symbol-defs.svg#icon-calendar"></use>
      </svg>
      <svg class="calender__icon-down">
        <use href="/src/images/symbol-defs.svg#icon-arrow-down"></use>
      </svg>
      <svg class="calender__icon-up">
        <use href="/src/images/symbol-defs.svg#icon-arrow-up"></use>
      </svg>
    </div>
  </div>
</section>
