<section class="news__section">
  <div class="container news__container">
    <h1 class="news__section-title visually-hidden">News</h1>

    <div class="weather__container">
      <div class="weather__container-new"></div>
    </div>

    <ul class="news__list">
      <li class="news__item">
        <img
          src="/src/images/desctop/asia-businesswoman-social-distancing-new-normal-virus-prevention-looking-camera-presentation-colleague-about-plan-video-call-while-work-office-night.jpg"
          alt="news-card desription"
          class="news__img"
        />
        <h2 class="news__title">
          8 tips for passing an online interview that will help you get a job
        </h2>
        <h3 class="news__subtitle">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </h3>
        <div class="news__date-link-wrapper">
          <p class="news__date">20/02/2021</p>
          <a href="#" class="news__link">Read more</a>
        </div>
        <button type="button" class="news__btn">
          Add to favorite
          <svg class="news__btn-icon">
            <use href="/src/images/symbol-defs.svg#icon-heart"></use>
          </svg>
        </button>
        <p class="news__category">Job searching</p>
        <p class="news__already-read">
          Already read
          <svg class="news__already-read-icon">
            <use href="/src/images/symbol-defs.svg#icon-icon-check"></use>
          </svg>
        </p>
      </li>
      <li class="news__item-weather-tablet"></li>
      <li class="news__item">
        <img
          src="/src/images/desctop/asia-businesswoman-social-distancing-new-normal-virus-prevention-looking-camera-presentation-colleague-about-plan-video-call-while-work-office-night.jpg"
          alt="news-card desription"
          class="news__img"
        />
        <h2 class="news__title">
          8 tips for passing an online interview that will help you get a job
        </h2>
        <h3 class="news__subtitle">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </h3>
        <div class="news__date-link-wrapper">
          <p class="news__date">20/02/2021</p>
          <a href="#" class="news__link">Read more</a>
        </div>
        <button type="button" class="news__btn">
          Add to favorite
          <svg class="news__btn-icon">
            <use href="/src/images/symbol-defs.svg#icon-heart"></use>
          </svg>
        </button>
        <p class="news__category">Job searching</p>
        <p class="news__already-read">
          Already read
          <svg class="news__already-read-icon">
            <use href="/src/images/symbol-defs.svg#icon-icon-check"></use>
          </svg>
        </p>
      </li>
      <li class="news__item-weather-desktop"></li>
      <li class="news__item">
        <img
          src="/src/images/desctop/asia-businesswoman-social-distancing-new-normal-virus-prevention-looking-camera-presentation-colleague-about-plan-video-call-while-work-office-night.jpg"
          alt="news-card desription"
          class="news__img"
        />
        <h2 class="news__title">
          8 tips for passing an online interview that will help you get a job
        </h2>
        <h3 class="news__subtitle">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </h3>
        <div class="news__date-link-wrapper">
          <p class="news__date">20/02/2021</p>
          <a href="#" class="news__link">Read more</a>
        </div>
        <button type="button" class="news__btn">
          Add to favorite
          <svg class="news__btn-icon">
            <use href="/src/images/symbol-defs.svg#icon-heart"></use>
          </svg>
        </button>
        <p class="news__category">Job searching</p>
        <p class="news__already-read">
          Already read
          <svg class="news__already-read-icon">
            <use href="/src/images/symbol-defs.svg#icon-icon-check"></use>
          </svg>
        </p>
      </li>
      <li class="news__item">
        <img
          src="/src/images/desctop/asia-businesswoman-social-distancing-new-normal-virus-prevention-looking-camera-presentation-colleague-about-plan-video-call-while-work-office-night.jpg"
          alt="news-card desription"
          class="news__img"
        />
        <h2 class="news__title">
          8 tips for passing an online interview that will help you get a job
        </h2>
        <h3 class="news__subtitle">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </h3>
        <div class="news__date-link-wrapper">
          <p class="news__date">20/02/2021</p>
          <a href="#" class="news__link">Read more</a>
        </div>
        <button type="button" class="news__btn">
          Add to favorite
          <svg class="news__btn-icon">
            <use href="/src/images/symbol-defs.svg#icon-heart"></use>
          </svg>
        </button>
        <p class="news__category">Job searching</p>
        <p class="news__already-read">
          Already read
          <svg class="news__already-read-icon">
            <use href="/src/images/symbol-defs.svg#icon-icon-check"></use>
          </svg>
        </p>
      </li>
      <li class="news__item">
        <img
          src="/src/images/desctop/asia-businesswoman-social-distancing-new-normal-virus-prevention-looking-camera-presentation-colleague-about-plan-video-call-while-work-office-night.jpg"
          alt="news-card desription"
          class="news__img"
        />
        <h2 class="news__title">
          8 tips for passing an online interview that will help you get a job
        </h2>
        <h3 class="news__subtitle">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </h3>
        <div class="news__date-link-wrapper">
          <p class="news__date">20/02/2021</p>
          <a href="#" class="news__link">Read more</a>
        </div>
        <button type="button" class="news__btn">
          Add to favorite
          <svg class="news__btn-icon">
            <use href="/src/images/symbol-defs.svg#icon-heart"></use>
          </svg>
        </button>
        <p class="news__category">Job searching</p>
        <p class="news__already-read">
          Already read
          <svg class="news__already-read-icon">
            <use href="/src/images/symbol-defs.svg#icon-icon-check"></use>
          </svg>
        </p>
      </li>
      <li class="news__item">
        <img
          src="/src/images/desctop/asia-businesswoman-social-distancing-new-normal-virus-prevention-looking-camera-presentation-colleague-about-plan-video-call-while-work-office-night.jpg"
          alt="news-card desription"
          class="news__img"
        />
        <h2 class="news__title">
          8 tips for passing an online interview that will help you get a job
        </h2>
        <h3 class="news__subtitle">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </h3>
        <div class="news__date-link-wrapper">
          <p class="news__date">20/02/2021</p>
          <a href="#" class="news__link">Read more</a>
        </div>
        <button type="button" class="news__btn">
          Add to favorite
          <svg class="news__btn-icon">
            <use href="/src/images/symbol-defs.svg#icon-heart"></use>
          </svg>
        </button>
        <p class="news__category">Job searching</p>
        <p class="news__already-read">
          Already read
          <svg class="news__already-read-icon">
            <use href="/src/images/symbol-defs.svg#icon-icon-check"></use>
          </svg>
        </p>
      </li>
      <li class="news__item">
        <img
          src="/src/images/desctop/asia-businesswoman-social-distancing-new-normal-virus-prevention-looking-camera-presentation-colleague-about-plan-video-call-while-work-office-night.jpg"
          alt="news-card desription"
          class="news__img"
        />
        <h2 class="news__title">
          8 tips for passing an online interview that will help you get a job
        </h2>
        <h3 class="news__subtitle">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </h3>
        <div class="news__date-link-wrapper">
          <p class="news__date">20/02/2021</p>
          <a href="#" class="news__link">Read more</a>
        </div>
        <button type="button" class="news__btn">
          Add to favorite
          <svg class="news__btn-icon">
            <use href="/src/images/symbol-defs.svg#icon-heart"></use>
          </svg>
        </button>
        <p class="news__category">Job searching</p>
        <p class="news__already-read">
          Already read
          <svg class="news__already-read-icon">
            <use href="/src/images/symbol-defs.svg#icon-icon-check"></use>
          </svg>
        </p>
      </li>
      <li class="news__item">
        <img
          src="/src/images/desctop/asia-businesswoman-social-distancing-new-normal-virus-prevention-looking-camera-presentation-colleague-about-plan-video-call-while-work-office-night.jpg"
          alt="news-card desription"
          class="news__img"
        />
        <h2 class="news__title">
          8 tips for passing an online interview that will help you get a job
        </h2>
        <h3 class="news__subtitle">
          Before you start looking for a job, it is useful to familiarize
          yourself with the job prospects offered by these...
        </h3>
        <div class="news__date-link-wrapper">
          <p class="news__date">20/02/2021</p>
          <a href="#" class="news__link">Read more</a>
        </div>
        <button type="button" class="news__btn">
          Add to favorite
          <svg class="news__btn-icon">
            <use href="/src/images/symbol-defs.svg#icon-heart"></use>
          </svg>
        </button>
        <p class="news__category">Job searching</p>
        <p class="news__already-read">
          Already read
          <svg class="news__already-read-icon">
            <use href="/src/images/symbol-defs.svg#icon-icon-check"></use>
          </svg>
        </p>
      </li>
    </ul>
  </div>
</section>
