<div class="pagination__section">
  <button type="button" class="pagination__prevBtn">Prev</button>
  <ul class="pagination__btnList">
    <li class="pagination__btnItem">
      <button type="button" class="pagination__btn" id="btn-1">1</button>
    </li>
    <li class="pagination__btnItem">
      <button type="button" class="pagination__btn" id="btn-2">2</button>
    </li>
    <li class="pagination__btnItem">
      <button type="button" class="pagination__btn" id="btn-3">3</button>
    </li>
    <li class="pagination__btnItem">
      <button type="button" class="pagination__btn" id="btn-4">4</button>
    </li>
    <li class="pagination__btnItem">
      <button type="button" class="pagination__btn" id="btn-5">5</button>
    </li>
    <li class="pagination__btnItem">
      <button type="button" class="pagination__btn" id="btn-6">6</button>
    </li>
  </ul>
  <button type="button" class="pagination__nextBtn">Next</button>
</div>
