.pagination {
    &__section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    &__prevBtn {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50px;
        height: 50px;

        border: 1px solid $accent-color;
        border-radius: 50%;

        &:hover:not([disabled]){
            color: $white-color;
            background-color: $accent-color;

            transition: all 0.5s;
        }
    }

    &__nextBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 50px;
        height: 50px;
;

        border: 1px solid $accent-color;
        border-radius: 50%;

        &:hover,
        &:focus {
            color: $white-color;
            background-color: $accent-color;

            transition: all 0.5s;
        }
    }
}