// Common
.filter {
    &__section {
        padding-top: 24px;
        padding-bottom: 40px;

        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: calc(16 / 12);

        @media screen and (min-width: 768px) {
            padding-bottom: 48px;
        }

        @media screen and (min-width: 1280px) {
            padding-bottom: 60px;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// Mobile

.dropdown {
    &__wrapper {
        @media screen and (min-width: 768px) {
            display: none;
        }
        position: relative;
        display: inline-block;
    }

    &__content-admin-btn {
        display: flex;
        align-items: center;
        gap: 10px;

        width: 112px;
        height: 31px;

        padding-top: 7.5px;
        padding-right: 13px;
        padding-bottom: 7.5px;
        padding-left: 13px;

        color: $accent-color;
        background-color: $white-color;
        border: 1px solid #4440F7;
        border-radius: 20px;
        text-align: center;
    }

    &__content-admin-btn-icon-down {
        width: 14px;
        height: 14px;

        fill: $accent-color;
    }

    &__content-admin-btn-icon-up {
        display: none;
        width: 14px;
        height: 14px;

        fill: $white-color;
        background-color: transparent;
    }

    &__content-wrapper {
        display: none;
        position: absolute;
        z-index: 10;
        min-width: 148px;
        max-height: 380px;
        overflow: scroll;

        padding-top: 14px;
        padding-left: 14px;
        background-color: #F8F8F8;
        border-radius: 20px;
        filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.1));
    }

    &__content-list {
        @extend %list;
    }

    &__content-item {
        margin-bottom: 12px;
        
    }

    &__content-btn {
        color: $accent-color;
        background-color: transparent;
        border: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.calender {
    &__wrapper {
        position: relative;
        display: inline-block;
    }

    &__input {
        width: 151px;
        height: 31px;

        padding-left: 44px;

        color: inherit;
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: calc(21 / 12);
        letter-spacing: 0.02em;

        background-color: transparent;
        border-width: 1px;
        border-style: solid;
        border-color: $light-theme-primary-font-color;
        border-radius: 20px;
        outline: none;
        cursor: pointer;

        &:hover,
        &:focus {
            color: $white-color;
            background-color: $accent-color;
            border-color: $accent-color;
        }

        &:hover+.calender__icon-calendar,
        &:focus+.calender__icon-calendar {
            fill: $white-color;
            background-color: transparent;
        }

        &:hover~.calender__icon-down,
        &:focus~.calender__icon-down {
            display: none;
        }

        &:hover~.calender__icon-up,
        &:focus~.calender__icon-up {
            display: block;
            position: absolute;
            top: 7;
            right: 13;
            width: 15px;
            height: 15px;

            fill: $white-color;
            background-color: transparent;

            @media screen and (min-width: 768px) {
                width: 16px;
                height: 16px;
            }
        }

        @media screen and (min-width: 768px) {
            width: 168px;

            font-size: 14px;
            line-height: calc(21 / 14);
        }
    }

    &__icon-calendar {
        position: absolute;
        left: 12;
        transform: translateY(30%);

        width: 19px;
        height: 19px;

        fill: $accent-color;

        @media screen and (min-width: 768px) {
            width: 20px;
            height: 20px;
        }
    }

    &__icon-down {
        position: absolute;
        right: 13;
        transform: translateY(50%);
        width: 15px;
        height: 15px;

        fill: $secondary-font-color;

        @media screen and (min-width: 768px) {
            width: 16px;
            height: 16px;
        }
    }

    &__icon-up {
        display: none;
    }
}

// Tablet
.filter-tablet {
    &__wrapper {
        @media screen and (max-width: 767px) {
            display: none;
        }

        display: flex;
        gap: 14px;

        @media screen and (min-width: 1280px) {
            gap: 16px;
        }
    }

    &__list {
        @extend %list;
        display: flex;
        gap: 14px;

        @media screen and (min-width: 1280px) {
            gap: 16px;
        }
    }

    // &__item {}

    &__btn {
        height: 31px;

        padding-top: 7.5px;
        padding-right: 24px;
        padding-bottom: 7.5px;
        padding-left: 24px;

        color: $accent-color;
        background-color: $white-color;
        border: 1px solid #4440F7;
        border-radius: 20px;
        text-align: center;

        &:hover {
            color: $white-color;
            background-color: $accent-color;
        }
    }
}

.dropdown-tablet {
    &__wrapper {
        position: relative;
        display: inline-block;
    }

    &__content-admin-btn {
        display: flex;
        align-items: center;
        gap: 10px;

        width: 112px;
        height: 31px;

        padding-top: 7.5px;
        padding-right: 24.5px;
        padding-bottom: 7.5px;
        padding-left: 24.5px;

        color: $accent-color;
        background-color: $white-color;
        border: 1px solid #4440F7;
        border-radius: 20px;
        text-align: center;
    }

    &__content-admin-btn-icon-down {
        width: 14px;
        height: 14px;

        fill: $accent-color;
    }

    &__content-admin-btn-icon-up {
        display: none;
        width: 14px;
        height: 14px;

        fill: $white-color;
        background-color: transparent;
    }

    &__content-wrapper {
        display: none;
        position: absolute;
        z-index: 200;
        min-width: 168px;
        max-height: 380px;
        overflow: scroll;

        padding-top: 14px;
        padding-left: 14px;
        background-color: #F8F8F8;
        border-radius: 20px;
        filter: drop-shadow(0px 10px 60px rgba(0, 0, 0, 0.1));
    }

    &__content-list {
        @extend %list;
    }

    &__content-item {
        margin-bottom: 12px;    
    }

    &__content-btn {
        color: $accent-color;
        background-color: transparent;
        border: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.filter-desktop {
    &__item {
        @media screen and (max-width: 1279px) {
            display: none;
        }
    }

    &__btn {
        height: 31px;

        padding-top: 7.5px;
        padding-right: 24px;
        padding-bottom: 7.5px;
        padding-left: 24px;

        color: $accent-color;
        background-color: $white-color;
        border: 1px solid #4440F7;
        border-radius: 20px;
        text-align: center;

        &:hover {
            color: $white-color;
            background-color: $accent-color;
        }
    }
}

.desktop-text {
    @media screen and (max-width: 1279px) {
        display: none;
    }

    margin-left: 111px;
    
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(25 / 18);
    color: $light-theme-primary-font-color;
}

.visible-content {
    display: block;
}

.invisible-content {
    display: none;
}

.change-btn-style {
    color: $white-color;
    background-color: $accent-color;
}
