.logo {
    @extend %link;
    @extend %list;

    margin-right: 14px;

    font-size: 24px;
    font-weight: 700;
    line-height: calc(33 / 24);

    @media screem and (min-width: 768px) {
        font-size: 32px;
        line-height: calc(44 / 32);
    }
}

.header {
    &__section {
        padding-top: 24px;
        padding-bottom: 24px;

        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        @media screen and (min-width: 768px) {
            padding-top: 32px;
            padding-bottom: 30px;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__mobile-wrapper {
        display: flex;
        align-items: center;
    }

    &__search-form {
        position: relative;

        display: flex;
        align-items: center;
    }

    &__search-form-input {
        opacity: 0;
        width: 173px;
        height: 31px;
        
        border: 1px solid $light-theme-primary-font-color;
        border-radius: 20px;
        outline: none;

        @media screen and (min-width: 768px) {
            opacity: 1;
        }
    }

    &__search-form-input::placeholder {
        padding-left: 48px;

        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        line-height: calc(21 / 12);
        letter-spacing: 0.02em;
        
        color: $light-theme-primary-font-color;
        opacity: 0.4;
    }

    &__search-form-btn {
        width: 20px;
        height: 20px;

        text-align: center;

        background-color: transparent;
        border: transparent;

        @media screen and (min-width: 768px) {
            position: absolute;
                left: 12;
        }
    }

    &__search-form-icon {
        width: 20px;
        height: 20px;
    }

    &__burger-menu-btn {
        width: 24px;
        height: 24px;

        margin-left: 14px;

        text-align: center;

        background-color: transparent;
        border: transparent;

        @media screen and(min-width: 768px) {
            display: none;
        }
    }

    &__burger-menu-icon {
        width: 24px;
        height: 24px;

        stroke: black;
    }

    &__tablet-desktop-wrapper {
        display: flex;
        gap: 8px;

        @media screen and (min-width: 1280px) {
            gap: 12px;
        }
    }

    &__theme-text {
        display: none;

        @media screen and (min-width: 1280px) {
            display: block;
        }
    }

    &__theme-light-btn {
        display: none;

        @media screen and (min-width: 768px) {
            width: 21px;
            height: 21px;

            display: flex;
            align-items: center;

            background-color: transparent;
            border-color: transparent;
        }
    }

    &__theme-sun-icon {
        width: 21px;
        height: 21px;

        stroke: $light-theme-toggle-font-color;
    }

    &__toggle-icon {
        width: 40px;
        height: 20px;

        display: none;

        @media screen and (min-width: 768px) {
            display: block;
        }
    }

    &__theme-dark-btn {
        display: none;

        @media screen and (min-width: 768px) {
            width: 21px;
            height: 21px;

            display: flex;
            align-items: center;

            background-color: transparent;
            border-color: transparent;
        }
    }

    &__theme-moon-icon {
        width: 21px;
        height: 21px;

        stroke: $light-theme-toggle-font-color;
    }
}

.nav {
    &__list {
        @extend %list;
        display: none;

        @media screen and (min-width: 768px) {
            // position: relative;

            display: flex;
            align-items: center;
            gap: 44px;
        } 
    }

    // &__item {
    // }

    &__link {
        @extend %link;

        position: relative;

        font-weight: 700;
        font-size: 16px;
        line-height: calc(22 / 16);
    }

    .current::after {
        content: '';
        width: 100%;
        position: absolute;
        transform: translateX(-100%);
        top: 30;
        
        border: 1px solid #4440F7;
    }
}

.visible {
    opacity: 1;
}

.btn-transform {
    position: absolute;
    left: 12;
}